.box{
    max-width: 400px;
    padding: 20px;
    height: auto;
    margin-bottom: 2em;
    background-color: #FFFFFF;
    box-shadow: -3px 9px 23px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 9px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 23px -7px rgba(0,0,0,0.75);
    border-radius: 30px;
    margin-top: 10em;
}
.box .fa-solid{
    font-size: 4em;
    color: green;
    display: grid;
    place-content: center;
    position: relative;
    bottom:0.8em;
}

.text{
    text-align: center;
    margin-bottom: 2em;
}
.btn{
    width: 300px;
    padding: 15px;
    height: 50px;
    margin-bottom: 2em;
    position: relative;
    left: 25px;
    right: 25px;
}

button{
    width: 100%;
    border: none;
    height: 100%;
    background-color: green;
    color: #FFFFFF;
    box-shadow: -10px 16px 23px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 16px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 16px 23px -7px rgba(0,0,0,0.75);
    
}